 @font-face {
    font-family: 'BrutalType'; /* Гарнитура шрифта */
    src: url(../fonts/BrutalTypeBold_0.otf); /* Путь к файлу со шрифтом */
    font-weight: 600;
    font-style: normal;
   }

    @font-face {
    font-family: 'BrutalType'; /* Гарнитура шрифта */
    src: url(../fonts/BrutalTypeExtraLight_0.otf); /* Путь к файлу со шрифтом */
    font-weight: 100;
    font-style: normal;
   }

   @font-face {
    font-family: 'BrutalType'; /* Гарнитура шрифта */
    src: url(../fonts/BrutalTypeLight_0.otf); /* Путь к файлу со шрифтом */
    font-weight: 200;
    font-style: normal;
   }

   @font-face {
    font-family: 'BrutalType'; /* Гарнитура шрифта */
    src: url(../fonts/BrutalTypeMedium_0.otf); /* Путь к файлу со шрифтом */
    font-weight: 400;
    font-style: normal;
   }

    body {
  font-family: 'BrutalType';
  font-weight: 200;
  overflow: visible!important;
   }

 button:hover, button:focus, input:hover, input:focus {
    outline: none;
    -moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

 input, button, {
  outline: none;
  border: none;
  -moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}





 

   div, form, input, p, button, a, span {
  box-sizing: border-box;
}


 a {
  text-decoration: none;
  color:#fff;
 }

 .burger_trigger {
  padding: .25rem .75rem;
    font-size: 3.55rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  color: rgba(255,255,255,.5);
  width: 75px;
    height: 54px;
    cursor: pointer;
 }

  .nav__menu {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
      position: absolute;
      top: 20%;
      background: rebeccapurple;
      font-size: 25px;
      width: 100%;
      left: 0;
      text-align: center; 
      z-index: 5;
  }

  .nav__menu li:hover {
      color: rebeccapurple;
      background: rgba(255, 255, 255, 0.5);
        }

    .menu_opened {
          opacity: 0.65;
    }

  a:hover, a:active{
  text-decoration: none;
  color:#fff;
 }


i {
font-family: 'fontawesome' !important;
font-style: normal;
}

.row {
  margin: 0;
}

.full-screen {
  padding: 0;
  margin:0;
}

.block {
  display: block;
}

.button {
  color: #fff;
  background: #6367d7;
  transition: all 0.2s ease;
  font-weight: 700;
  text-align: center;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 100px;

}

.media__block {
  display: none;
}

.navbar {
  display: none;
}

.media__wrap {
  display: inherit;
}

.media__menu {
  display: inherit;
}

.spec__size {
  height: 45px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: rgba(0, 0, 0, 0.7) !important; /* цвет текста */
    color: rgba(0, 0, 0, 0.7)!important; /* цвет текста */
}

.section {
  margin: 80px 0;
}

li {
  list-style-type: none;
}


.container-fluid {
  padding: 0;
}

.black__back1 {
  height: 94vh;
  background: rgba(0, 0, 0, 0.35);
}

.rel_pos {
  position: relative;
}

.rel_pos_width {
  width: 100%;
  height: 70px;
}


.rel_pos_width-first {
  width: 100%;
  height: 100px;
}


/*---------------Header---------------*/


.header {
  background: url(../img/mainback.png) no-repeat center top / cover;
  height: 100vh;
}

.head__line {
  padding: 15px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  color: white;
}

.media__soc {
  width: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 5px 0;
}


.soc {
  -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.soc:hover {
  cursor: pointer;
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
}

.soc:active {
   -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
}

.navigation,.navigation__colour {
  font-size: 18px;
  padding: 9px 0;
}

.navigation__colour ul, .navigation ul {
  list-style-type: none;
  position: relative;
    margin: 0;
    padding: 0;
}


.navigation__item-blog {
      padding: 25px 0px 20px 0px;
    margin: -23px 0px 0 0;
    width: 93px!important;
}

.navigation__item-main {
  width: 115px!important;
}


.hide__nav {
      padding: 78px 30px 10px 5px;
    margin: -50px 0 0 -12px;
     display: none;
}


.link__to {
  padding-left: 15px;
}

.navigation ul > li, .navigation__colour ul > li {
  padding: 25px 0px 20px 0px;
    margin: -23px 0px 0 0;
    width: 145px;
    transition: all 0.5s ease;

  }

  .hide__nav_item {
    padding: 20px 0px 20px 0px!important;
    width: 132px;
}

.hide__nav_item:hover {
   padding: 23px 0px 23px 0px!important;
    width: 145px!important;
    background-color: rgba(255, 255, 255, 0.07)!important;
    margin: -23px 0px 0 0px!important;
  }

  .navigation__colour ul > li:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 25px 0px 3px 0px;
    margin: -23px 0px 0 0;
    width: 145px;
  }

.navigation ul > li:hover {
    background-color: rgba(255, 255, 255, 0.07);
    padding: 25px 0px 3px 0px;
    margin: -23px 0px 0 0;
    width: 145px;
    z-index: 2000;
}

.hide__nav_item-colour:hover {
  background-color: rgba(139, 164, 209, 0.3)!important;
}

.navigation li:hover ul, .navigation__colour li:hover ul {
    display: block;
    margin: 44px 0 0 0px;
    width: 100%;
    z-index: 2000;
  }

.navigation__colour li:hover ul {
   background-color: rgba(139, 164, 209, 0.3);
}

.menu ul ul {
  position: absolute;
  min-width: 150px;
  display: none;
  margin: 25px 0 0 -10px;
    padding: 0;
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.15);
}
}

.{
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.15);
}



.:hover li > ul {
  display: block;
}



.black__back {
  background: rgba(0, 0, 0, 0.35);
    height: 89vh;
}

.offer {
  
    color: white;
    
    width: 580px;
}

.offer__name {
  font-size: 16px;
  margin: 10px 0;
  padding: 0;
}


.offer__main {
  font-size: 27px;
  letter-spacing: 0.25px;
  font-weight: 400;
}

.offer__text {
  margin-bottom: 40px;
}

.form__input, .form-send {
  height: 40px;
  width: 180px;
  border-radius: 5px;
   border: 3px solid #eeeeef;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 200;
  outline: none;
  -moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.specform {
  flex-direction: column;
}

.form-send {
      width: 180px;
    border-radius: 5px;
    border: 3px solid #eeeeef;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 200;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 5px;
}


.header__form input {
   color: rgba(0, 0, 0, 0.5);
}

.form-control {
  display: inline-block;
}

.border__input {
  background: #f9f9fa;
    border: 3px solid #eeeeef;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    color: #000;
}

.input, .form__input:focus, input:focus {
 width: 180px;
    border-radius: 5px;
    border: 3px solid #eeeeef;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 200;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form__button{
    padding: 18px 45px;
    background: rgba(79, 85, 247, 0.6);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0px auto 0;
        -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.form__button:hover {
  cursor: pointer;
    background: rgba(79, 85, 247, 1);
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
}

.form__button:active {
   -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}




.right__content {
    margin-top: 38px;
}

.media__soc_colour {
  width: 288px;
  justify-content: space-between;
}

.media__link {
  font-size: 40px;
  color: white;
  width: 81px;
  height: 81px;
  border-radius: 100px;
  text-align: center;
  padding-top: 12px;
}

.media__link_blue {
  background: #0f3884;
}

.media__link_lightblue {
  background: #0e52d0;
}

.media__link_violet {
  background: #4f55f7;
}

.meet__title {
 
  font-size: 31px;
  letter-spacing: 0;
}

.gallery {
  width: 100%;
  margin: 0 0 0 50px;
}

.gallery__horizontal {
   margin: 24px 0 0 16px;
}

.gallery__horizontal_low {
  margin: 24px 16px 0 0;
   width: 200px;
}

.gallery__vertical_low {
  margin-top: 24px;
}

.content__item {
  margin: 30px 0;
  font-size: 22px;
}


.pict__gal_big {
  width: 200px;
  height: 300px;
}

.pict__gal_small {
  width: 200px;
  height: 130px;
}

.gal_space {
  margin-bottom: 16px;
}






.diploms{

}

.diploms__backgr {
  background: #8ba4d1;
  width: 100%;
  padding: 60px 0 120px;
}

.diploms__title {
  font-size: 31px;
  color: white;
  display: block;
  width: 350px;
  font-weight: 200;
}


.big-slider {
  margin: 70px auto 0;
    position: relative;
    width: 600px;
  height: 450px;
}

.slick-dots {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    list-style-type: none;
    padding: 0;
    }


.slick-dots li button {
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 0;
}

.slick-dots li, .slick-active button {
    border: 1px solid rgba(139, 164, 209, 0.5);
    border-radius: 50%;
}

.slick-active button {
  background: #4f55f7!important;
}


.slick-dots li {
    margin: 0 7px 0 7px;
}

.slide__size {
  width: 600px;
  height: 450px;
}

.slick-prev, .slick-next {
  background: transparent;
  color: white;
  font-size: 45px;
  border: none;
  position: absolute;
    top: 40%;
}

.slick-prev {
    left: -60px;
}

.slick-next {
    right: -60px;
}


.slick-prev:hover {
    left: -65px;
    transition: 0.5s ease;
}

.slick-next:hover {
    right: -65px;
    transition: 0.5s ease;
}



.footer {
  color: white;
  font-size: 14px;
  margin-top: -50px;
}


.footer__back {
  background: #c5c3c3;
  padding: 23px 0 10px;
}

.top-space__footer {
  margin-top: 15px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: none;
    font-size: 12px;
    width: 140px;
}

.form-control {
  width: 140px;
    padding: .375rem .75rem;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 200;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form__button_footer {
  padding: 9px;
  font-size: 12px;
  font-weight: 200;
  margin: 10px auto 0;
  background: rgba(79, 85, 247, 0.6);
}

.form__button_footer:hover {
  background: rgba(79, 85, 247, 1);
}

.form__button_footer:active {
  transform: scale(1);
}

.footer__form {
  width: 140px;
}

.form__input_footer {
  display: block!important;
  margin-bottom: 10px;
}

.footer__form-title {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1;
}

.footer__form {
  margin-top: 20px;
}


.rights {
  margin-top: 30px;
  font-size: 11px;
}

.year {
  margin-right: 20px;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.91);
    overflow: hidden;
    display: none;
}

#loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#overlay, #overlay__cards {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000c;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
#thx {
  background: #fff;
  position: absolute;
  left: 38%;
  top: 50%;
  padding: 30px;
  margin-top: -20px;
  border-radius: 5px;
}

#thx__cards {
  background: #fff;
  position: absolute;
  left: 36%;
  top: 50%;
  padding: 30px;
  margin-top: -20px;
  border-radius: 5px;
}

#name-error, #email-error, #tel-error {
 font-size: 12px;
 width: 180px;
 position: absolute;
    top: 59%;
}

.modal_img {
  width: 50%;
  margin: 0 auto;
}

.box-modal {
  text-align: center;
}

.box-modal_close {
  text-align: right;
    width: 75%;
    font-size: 25px;
    color: white;
}


.hide __nav li:hover > ul{
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin:0;
}




/*-----------------------------------------Serv_Solves-----------------------------------------*/



.solve__title {
  font-size: 31px;
  font-weight: 200;
  margin: 45px 0;
}

.solve2__title{
  font-size: 31px;
  font-weight: 200;
  margin: 0 0 70px 0;
}

.cards__title {
   font-size: 31px;
  font-weight: 200;
  margin: 25px 0 70px 0;
}

.solve__pict {
  width: 100%;
}

.solve__text_paragraph {
  font-size: 19px;
  font-weight: 200;
  margin: 30px 0;
}

.solve__text_paragraph-without {
   font-size: 19px;
  font-weight: 200;
}

.solve__text_paragraph-spec {
  margin: 30px 0 25px;
   font-size: 19px;
  font-weight: 200;
}

.square {
  width: 260px;
  height: 251px;
      margin-left: 61px;
  padding: 28px 32px 41px 38px;
}

.square1 {
  background: #f1f5fd;
  margin-left: 61px;
}

.square2 {
  background: #c7d9f9;
  color: #54555c;
}

.square3 {
  background: #8ba4d1;
  color: #fff;
}

.step__title {
  font-size: 26px;
  font-weight: 400;
  display: block;
  text-align: center;

}

.step__text {
  font-size: 13px;
  width: 180px;
  padding: 11px 0px 16px 12px;
}

.step__check {
  text-align: center;
}

.section__solve {
  margin: 50px 0 110px;
}



.slider__body {
  width: 576px;
  height: 187px;
  background: #e4edfc;
}

.slider__img {
  padding: 38px 0 12px 52px;
}

.slider__text {
  padding: 45px 46px 0;
}

.socio__link_slider {
  color: #1f55b6;
  font-size: 18px;
  margin-right: 8px;
}

.slider__name {
  font-size: 12px;
  line-height: 27px;
}

.container__soc-name {
  padding: 0px 50px;
}

.container__city-date {
  justify-content: space-between;
  width: 237px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  padding: 4px 0 0 0;
}

.test-next, .test-prev {
  font-size: 50px;
  color: #8ba4d1;
  background: none;
  border: none;
  position: absolute;
    top: 24%;
}

.test-prev {
    left: -50px;
}

.test-next {
    right: -50px;
}

.test-slider {
  width: 576px;
}

.test-prev:hover {
    left: -55px;
    transition: 0.5s ease;
    cursor: pointer;
}

.test-next:hover {
    right: -55px;
    transition: 0.5s ease;
    cursor: pointer;
}



.parallax {
  padding: 0 0;
    background: url(../img/parallax-bg1.jpg.png) no-repeat fixed center top;
    color: #fff;
    text-align: center;
}

.bold-title {
  font-weight: 600;
  font-size: 24px;
}

.moduls {
  margin-bottom: 40px;
}


.white__back {
  background: #fff;
  padding: 25px 0;
  color: #000;
}

.moduls__text, .on-white_text {
  text-align: left;
}

.white__title {
  font-size: 31px;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
}

.moduls__text {
  margin: 20px 0;
}

.on-white_text {
  margin: 13px 0;
  color: #000;
}

.mtop {
  margin-top: 30px;
}

.mbot {
  margin-bottom: 30px;
}


.title__item {
  margin: 20px auto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  width: 180px;
  text-align: center;
  line-height: 22px;
}

.text__item {
  font-size: 14px;
  width: 243px;
  text-align: center;
}

.pict {
  width: 150px;
    height: 120px;
  text-align: center;
}

.spec_mar {
  margin: 30px auto 16px;
}

.pict1 {
     width: 154px;
    height: 110px;
    margin: 3px 0 0;
}

.content_centr {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.space__top {
  margin-top: 80px;
}


.profit__back {
  margin-top: 50px;
  background: #f7f6f6;
  padding: 47px 0 20px;
  width: 100%;
  position: relative;
}

.consult {
      height: 100%;
    width: 50%;
  position: absolute;
  top: 0%;
}

.profit__info {
  justify-content: flex-end;
  align-items: flex-end;
}


.profit__text {
  margin: 0 60px 24px;
  font-size: 18px;
}

.size_title {
  width: 1000px;
}


.form__title15 {
  font-size: 18px;
  font-weight: 100;
  margin: 35px auto;
}

.form_with {
  width: 548px;
}




.form__button-with {
    padding: 15px 40px;
    background: rgba(79, 85, 247, 0.6);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0px auto 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }


   .form__button-with:hover, .form__button-cards:hover, .button__cards_more:hover{
  cursor: pointer;
    background: rgba(79, 85, 247, 1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-animation-name: hover;
    animation-name: hover;
}

.form__button-with:active, .form__button-cards:active, .button__cards_more:active {
   -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}


.contact__title {
  margin: 0 0 35px;
  font-size: 31px;
    font-weight: 200;
}

.contact__offer {
  font-size: 18px;
  font-weight: 200;
  width: 365px;
  line-height: 18px;
  margin: 20px auto;
}

.container_contacts {
  width: 420px;
}

.number {
  margin: 15px 0;
  font-size: 18px;
}

.post {
  font-size: 18px;
  margin: 50px 0;
}


.my_acc {
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 40px;
}


.slider__body-card, .cardslide__img, .card-slider, .type_card, .typecard__img {
  width: 300px;
  height: 420px;
}

.card-right, .card-left{
  top: 40%;
}

.unic__title {
  margin-top: 65px;
  font-weight: 400;
  text-align: center;
}

.cards__text span {
  display: block;
  margin: 25px auto;
}


.form__button-cards {
  padding: 12px 40px;
    background: rgba(79, 85, 247, 0.6);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0px auto 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.card-form__title, .another__cards-title {
  font-size: 24px;
  font-weight: 200;
  margin: 45px auto;
  width: 550px;
}

.button__cards_more {
    width: 140px;
    height: 45px;
    background: rgba(79, 85, 247, 0.6);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45px;
    margin: 0 auto;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.card__pictogramm {
  width: 125px;
    height: 175px;
   
}

.go_card {
  margin: 30px auto 0;
}

.mar_pict {
   margin: 25px auto;
}

.mrtop {
  margin-top: 80px;
}

.back__slider_blog {
  background: #f1f1f1;
}

.slider__body_theme {
  height: 33px;
}

.name__theme {
  
  font-size: 16px;
  font-weight: 200;
  padding: 5px 9px;
}

.theme_of_blog {
  padding: 5px 9px;
  color: #000!important;
}

.theme_of_blog:active, .theme_of_blog:visited, .theme_of_blog:focus {
  border: 2px solid #fff;
  padding: 3px 7px;
  outline-color: transparent;
}

.theme-next, .theme-prev {
  font-size: 30px;
  color: #b9d9f4;
  background: none;
  border: none;
  position: absolute;
    top: -22%;
}


.theme-prev {
    left: -30px;
}

.theme-next {
    right: -15px;
}


.theme-prev:hover {
    left: -32px;
    transition: 0.5s ease;
}

.theme-next:hover {
    right: -17px;
    transition: 0.5s ease;
}

.name__news {
  margin: 55px 0;
}

.news__body {
  padding: 61px 61px 35px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.left-side__content, .right-side__content {
  width: 50%;
}

.theme__of_new span {
  padding: 10px 28px;
  background: rgba(92, 166, 229, 0.5);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 15%;
  top: 26.5%;
}

.news__pict {
  width: 370px;
  height: 250px;
}

.news__tags {
  width: 200px;
  justify-content: space-between;
  margin: 22px auto 0;
}

.tag {
  padding: 4px 20px;
  background: rgba(92, 166, 229, 0.47);
  font-size: 14px;
  color: #fff;
}

.button__news {
  width: 115px;
  height: 40px;
  font-weight: 200;
  font-size: 18px;
  line-height: 40px;
  background: rgba(150, 154, 244, 0.9)!important;
  position: absolute;
  left: 79%;
  top: 87%;
}

.news__container {
  width: 100%;
}